* {
    padding: 0;
    margin: 0;
}

:root {
    --generic-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --alignment: 25px;

    font-family: var(--generic-font);
}

body {
    background-image: url('https://kingclouderton6.github.io/sign-up-form/tokyo-streets.jpg');
    display: flex;
    flex-direction: row;
    color: white;
}

button, input, select {
    font-family: inherit;
    font-size: 100%;
}

.content-wrapper {
    background-color: #2b2b2b;
    z-index: 1;
    width: 70vw;
    height: 100vh;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
}

.credit {
    position: absolute;
    bottom: 0px;
    left: 8vw;
    color: white;
}

.form-wrapper {
    background-color: #303439;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 2px black;
    min-height: 33vh;
    overflow: hidden;
}

.title-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    width: 30vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 84px;
    font-family: 'MeyrinRegular';
    font-weight: 10;
    font-style: normal;
    color: rgb(228, 255, 107);
    position: relative;
    top: 20vh;
}

.title-wrapper img {
    height: 90%;
    width: 90;
    padding-right:10px;
}

h2 {
    letter-spacing: 0.1em;
    padding-left: 10px;
    font-family: sans-serif;
    row-gap: 10px;
}

form {
    display: flex;
    gap: 10vw;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
    font-family: var(--generic-font)
}

.first-section, .second-section {
    padding-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

/* .second-section {
    position: relative;
    left: 20vh;
} */

.user-input {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

input {
    padding: 10px 20px;
    border-radius: 5px;
}

.action-container, p.call-to-action {
    padding-left: 15px;
    overflow: hidden;
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: var(--alignment);
}

p.call-to-action {
    font-size: 1.5rem;
    font-family: var(--generic-font);
    width: 80%;
    padding-left: var(--alignment);
}

button {
    width: 150px;
    height: 50px;
    background-color: #ee7147;
    border: 1px solid grey;
    border-radius: 15px;
}

button:hover {
    background-color: #05af05;
}

a:visited {
    color: orangered;
}

a:link {
    color: purple;
}

.focus {
    border: 2px solid rgb(11, 11, 156);
    box-shadow: 0px 2px black;
}

.error {
    border: 2px solid red;
}

